.hero-section{
    width:1131px;
    height:1198px;
    padding-left: 71px;
    padding-right: 95px;
    background-color: $main-background-color;
}


.hero-title{
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding-top:41px;
    padding-bottom: 51px;

    &__icon{
        width: 30px;
        height: 30px;
        margin-left: 7px;
    }
}

.customers-card{
    height: 812px;
        background: $background-color;
        box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
        border-radius: 30px;
    
        padding-left: 38px;
        padding-right: 53px;
}

.info-card{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -0.01em;
       
        color:$primary-text-color;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        padding-top: 30px;

        }
      &__label{
        position: relative;
    padding-top: 44px;
}
        &__input{
            display: flex;
            width: 216px;
            height: 38px;
    
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.01em;

            padding: 10px 40px;

            background: $input-bgc-color;
            color: $input-color;
            border: $input-color;
            border-radius: 10px;
        }
        &__text {
            
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.01em;
            
            color: $accent-text-color;
        }
        
&__icon{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50px;
    left: 12px;
}
}




