.mobile-items{
    margin-top: 20px;
}

.mobile-nav{
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;


    &__item{
        margin: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: $four-text-color;
        
    }
    

    @media screen and (min-width:$desktop){
        display: none;
    }
}