$primary-text-color:#000000;
$background-color:#9197B3;
$main-font: 'Poppins', sans-serif;
$third-text-color:#838383;
$background-color:#ffffff;
$primary-link-color:#9197B3;
$accent-color:#5932EA;
$primary-white-color:#ffffff;
