$primary-text-color:#000000;
$main-background-color:#FAFBFF;
$main-font: 'Poppins', sans-serif;
$third-text-color:#838383;
$background-color:#ffffff;
$primary-link-color:#9197B3;
$accent-color:#5932EA;
$primary-white-color:#ffffff;
$input-bgc-color:#F9FBFF;
$accent-text-color:#16C098;
$four-text-color:#B5B7C0;
$border-color:#EEEEEE;
$customers-item-color:#292D32;
$tui-btn-color:#404B52;
$background-color-btn:#F5F5F5;
$timing-function:cubic-bezier(0.4, 0, 0.2, 1);
$accent-link-color:#008767;
$secondary-accent-link-color:#DF0404;
$secondary-background-link-color:#FFC5C5;




$second-bg-color: #2f303a;
$third-bg-color: #f5f4fa;
$primary-text-color: #212121;
$second-text-color: #757575;
$link-color: #afb1b8;


$second-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$border-cards-color: #eeeeee;
$border-close-button: rgba(0, 0, 0, 0.1);
$card-gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$accent-font: Raleway, sans-serif;
// Breakpoints

$mobile: 480px;
$desktop: 1440px;
$tablet:768px;
