.container{
    background-color: $background-color;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    @media screen and (min-width:$mobile) {
            max-width: 480px;
        }

    @media screen and (min-width:$desktop){
    max-width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    
    }
}

