.container{
    // width: 1530px;
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    height: 1083px;
    display: flex;
    flex-direction: row-reverse;
    background-color: $background-color;
}