.aside-section{

@media screen and (min-width:300px) and (max-width:1039px) {
        display: none;
    }
    width: 306px;
    height:1300px;
    background: $background-color;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
}



    .dashboard-box {
    @media screen and (min-width:$desktop) {
            margin: 0px 28px;
        }
 }


.dashboard-list {

    @media screen and (min-width:$mobile) and (max-width:1439px) {
        display: none;
    }
    &__item {
            
        @media screen and (min-width:$desktop) {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
 }
    }
 &__link {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;

    width: 250px;
    height: 46px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;

    color: $primary-link-color;

    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus,
    &:active,
    &--active {

        color:$primary-white-color;
        background:$accent-color
    }

    &:hover>.dashboard-list__icon{
     
     stroke: $primary-white-color;
     
    }

         &:focus>.dashboard-list__icon{
            stroke: $primary-white-color;
         }
        
                  &:hover>.dashboard-list__icon--second {
        
                      stroke: $primary-white-color;
        
                  }
        
                  &:focus>.dashboard-list__icon--second {
                      stroke: $primary-white-color;
                  }

 }

 &__icon {

    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-left: 13px;

    stroke:$primary-link-color;
 
    
    &--active {
        stroke: $primary-white-color;
     
    }
 }
  
 }


 .dashboard-list__icon--second{
    @media screen and (min-width:$desktop) {
    margin-left: auto;
    margin-right: 14px;
    width: 4px;
    height: 8px;

    stroke: $primary-link-color;
    
    &--active{
        stroke: $primary-white-color;
    }
 }

}

.info-img{
    @media screen and (min-width:$desktop) {
    display: flex;

    margin-top: 698px;
   
}
}
.about-name{
    @media screen and (min-width:$desktop) {
    font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-left: 12px;
    
        letter-spacing: 0.01em;
    
        color: #000000;
}
}
.about-job{
    @media screen and (min-width:$desktop) {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-left: 12px;
    letter-spacing: 0.01em;
    
    color: #757575;
}
}